version: '3.8'

services:
  postgres:
    restart: always
    image: postgres:15
    container_name: jobqueue-postgres
    environment:
      POSTGRES_USER: jobqueue
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: jobqueue
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U jobqueue"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
